*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.titancart_wrapper{
  margin-top: 10%;
}
.billship_section_title{
  font-style: oblique;
  font-family: sans-serif;
  font-weight: lighter;
  padding-bottom: 1%;
  text-transform: capitalize;
}
.billship_div{
  background-color: #dcdcdc;
  padding: 2%;
}
.billship_label{
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
.red_astrix{
  color:red;
}
.billship_input{
  margin: 1%;
  text-transform: capitalize;
  width: 35%;
}
.billship_textarea{
  margin: 1%;
  width: 35%;
  text-transform: capitalize;
  height: 25%;
}
.billship_btn{
  color: #116466;
  background-color: #dcdcdc;
  border: 0px;
  cursor: grabbing;
  text-transform: uppercase;
  padding: 1%;
  animation: btnAnimation 10s infinite;
}
.billship_btn:hover{
  cursor: grabbing;
  text-transform: uppercase;
  background-color: #2C3531;
}


.titancart_table {
  width: 100%;
  border-collapse: collapse;
  background: #2C3531;
  color:  white;
  margin-top: 5%;
  margin-bottom: 5%;
}
.titancart_td, .titancart_th {
  padding: 8px;
  text-align: left;
  text-transform: capitalize;
}
.titancart_productname{
  color: black;
  text-decoration: overline;
}
.titancart_productname:hover{
  color: white;
}
.titancart_tr:nth-of-type(odd) {
  background: #116466;
}
.titancart_th {
  background: black;
  font-weight: bolder;
  font-family: sans-serif;
}
.titancart_btn{
  color: white;
  background-color: #116466;
  font-size: 14px;
  text-decoration: none;
  border: 0px;
  padding: 0.5%;
  text-align: center;
  width: 40%;
  cursor: grabbing;
  text-transform: uppercase;
}
.titancart_btn:hover{
  color: black;
  text-transform: uppercase;
}
.proceedbtn{
  background-color: #116466;
  animation: btnAnimation 10s infinite;
}
.proceedbtn:hover{
  cursor: pointer;
  color: white;
}


@keyframes btnAnimation{
  0%{
    border-top: 5px solid red;
    border-right: 5px solid blue;
    border-bottom: 5px solid green;
    border-left: 5px solid yellow
  }
  20%{
    border-top: 5px solid blue;
    border-right: 5px solid red;
    border-bottom: 5px solid yellow;
    border-left: 5px solid green;
  }
  40%{
    border-top: 5px solid green;
    border-right: 5px solid yellow;
    border-bottom: 5px solid red;
    border-left: 5px solid blue;
  }
  60%{
    border-top: 5px solid yellow;
    border-right: 5px solid red;
    border-bottom: 5px solid blue;
    border-left: 5px solid green;
  }
  80%{
    border-top: 5px solid red;
    border-right: 5px solid blue;
    border-bottom: 5px solid green;
    border-left: 5px solid red;
  }
  100%{
    border-top: 5px solid blue;
    border-right: 5px solid red;
    border-bottom: 5px solid yellow;
    border-left: 5px solid green;
  }
}
